.choose-main-sec {

    display: none;

}

body.safari .economy-btn{
    margin-top: -27px !important;
}



.container {

    max-width: 1175px !important;

    margin: 0 auto;

}



.sikl-top-btn-main {

    padding: 15px;

}

.sikl-top-btn-inner {

    display: flex;

    flex-flow: row-reverse;

    justify-content: flex-end;

    align-items: center;

    flex-wrap: wrap;

    border-bottom: 1px solid #e0e0e0;

}

.sikl-top-btn-inner p {

    margin-bottom: 0;

    background-color: #cb051a;

    color: #fff;

    padding: 7px 22px 6px;

    font-size: 14px;

    line-height: 28px;

    font-family: 'GE-Medium';

}

.sikl-top-btn-inner p span {

    font-size: 24px;

    padding-left: 5px;

}

span.home-icon-main {

    background-color: #e4e4e4;

    padding: 9px 10px;

}

.sikl-top-btn-inner a:hover {

    text-decoration: none;

}

span.home-icon-main a {

    color: #000;

}

a.previous-btn:hover {

    text-decoration: none;

}







.heading-left-main {

    text-align: right;

}

.heading-left-main h3 {

    border-bottom: 1px solid #d6d6d6;

    font-size: 35px;

    margin-bottom: 15px;

    padding-bottom: 15px;

    position: relative;

    font-family: 'GE-Medium';

    font-weight: bold;

}

.heading-left-main h3::after {

    content: "";

    position: absolute;

    background: #cb051a;

    width: 15%;

    height: 5px;

    bottom: -1px;

    right: 0;

}





.enemy-main-sec {

    margin-top: 10px;

}

.sidebar-heading {

    border: 1px solid #d9d9d9;

    border-radius: 7px;

    padding: 15px;

    margin-bottom: 20px;

}

.social-icon-sidebar {

    text-align: right;

}

.social-icon-sidebar a i {

    color: #000;

    font-size: 24px;

    padding-left: 28px;

}

.img-detail img {

    position: relative;

    border-radius: 7px 7px 0 0;

    width: 100%;

}

.economy-main-sec {

    margin-bottom: 20px;

    border-radius: 7px;

    box-shadow: 0px 0px 4.65px 0.35px rgba(10, 0, 23, 0.16);

}

.content-detail {

    text-align: right;

    background-color: #f8f8f8;

    padding: 15px;

    border-radius: 0 0 7px 7px;

    height: 200px;

}

.content-detail h3 {

    font-size: 12px;

    line-height: 30px;

    font-family: 'Jalal';

}

.content-detail p {

    font-size: 14px;

    color: #000;

    margin-top: 14px;

    font-family: 'GE-Medium';

}

.dead-share {

    display: flex;

    flex-wrap: wrap;

    flex-flow: row-reverse;

    justify-content: flex-end;

}

.dead-share img {

    object-fit: contain;

    padding-left: 5px;

}

.dead-share span {

    color: #aeaeae;

    font-family: 'GE-Medium';

}

.content-detail a:hover {

    text-decoration: none;

}

.economy-btn {

    text-align: left;

    margin-top: -31px;

    position: relative;

    display: inline-block;

}

.economy-btn a.economy-btn-text {

    background: #cb051a;

    text-align: center;

    padding: 8px 20px;

    color: #fff;

    border-top-right-radius: 5px;

    font-family: 'GE-Medium';

}



.policy-right-main .img-detail a > img {

    height: 61%;

}

.policy-right-main .content-detail h3 {

    font-size: 16px;

    margin-bottom: 20px;

    margin-top: 10px;

}

.policy-right-main .content-detail p {

    font-size: 19px;

    line-height: 34px;

}





.complex-main-sec .col-4 {

    margin-bottom: 10px;

}

.complex-main-sec {

    margin-top: 10px;

}

.complex-main .img-detail {

    position: relative;

}





.meet-main-sec {

    background-image: url(../images/meet-bg.jpg);

    background-size: cover;

    background-repeat: no-repeat;

    background-position: top left;

    padding: 100px 0;

}

.meet-content {

    text-align: right;

    padding-right: 5%;

}

.meet-content a.meet-btn {

    color: #fff;

    background-color: #cb051a;

    padding: 5px 20px;

    border-radius: 7px;

    font-family: 'GE-Medium';

}

.meet-content h2 {

    color: #fff;

    font-size: 57px;

    padding: 20px 0 10px;

    font-family: 'jalal';

}

.meet-content h3 {

    color: #cb051a;

    font-size: 50px;

    font-weight: bold;

    margin-bottom: 20px;

    font-family: 'jalal';

}



/*.read-more-main {

    margin-top: 30px;

}*/

.palestine-main {

    border-bottom: 1px solid #d4d4d4;

    margin-bottom: 12px;

    padding-bottom: 12px;

}

.palestine-main p {

    margin-bottom: 12px;

}

.profile-info {

    text-align: right;

}

.profile-info h4 {

    color: #cb051a;

    font-size: 18px;

    font-family: 'GE-Medium';

}

.profile-info p {

    font-size: 12px;

    font-family: 'Jalal';

    margin-bottom: 6px;

    line-height: 22px;

}

.read-more-right-main a.read-left-img img {

    width: 100%;

    height: 140px;

    object-fit: cover;

    border-radius: 0 7px 7px 0;

}

.read-left-single-col {

    border-radius: 7px;

    box-shadow: 0px 0px 4.65px 0.35px rgba(10, 0, 23, 0.16);

    background-color: #f8f8f8;

    margin-bottom: 20px;

}

.read-left-content {

    text-align: right;

    padding: 25px 0 25px 30px;

}

.read-left-content h3 {

    font-size: 15px;

    font-family: 'jalal';

    line-height: 28px;

}

.read-left-content a:hover , .economy-btn a.economy-btn-text:hover , .meet-content a.meet-btn:hover , 

a.meet-share:hover {

    text-decoration: none;

}

.read-left-single-col .row {

    align-items: center;

}



.director-main-sec .content-detail h3 {

    font-size: 12px;

    line-height: 30px;

}

.director-main-sec .content-detail {

    padding: 30px 15px;

    height: auto;

}

.director-main-sec {

    margin-top: 10px;

}



.choose-main-sec {

    background-color: #000;

    padding: 30px 0 20px;

    border-top: 10px solid #cb051a;

    margin-top: 10px;

}

.choose-btn-main {

    text-align: right;

    border-bottom: 1px solid #fff;

    padding-bottom: 3px;

    margin-bottom: 30px;

}

.choose-btn-main a.choose-btn {

    background-color: #cb051a;

    color: #fff;

    padding: 5px 30px;

    font-size: 26px;

}

.choose-main-sec .content-detail {

    background-color: #282828;

    padding: 25px 15px;

    height: auto;

}

.choose-main-sec .content-detail h3 {

    color: #fff;

}

.choose-main-sec .img-detail img {

    height: 170px;

    object-fit: cover;

}









.part-2.form h2 {

    border-bottom: 1px solid #d7d7d7;

}

.part-2.form.sidebar {

    margin-top: 50px;

    position: relative;

    background: #fff;

    box-shadow: 0px 0px 4.65px 0.35px rgba(10, 0, 23, 0.16);

    padding: 10px;

    padding-top: 20px;

}

.form input[type="email"] {

    width: 100%;

    border: 0;

    background: #e9e9e9;

    padding: 8px 5px;

    margin-top: 20px;

    font-family: 'GE-Medium';

}

.form .on {

    margin-top: 30px;

    margin-bottom: 10px;

    display: flex;

    align-items: center;

}

.on span {

    font-weight: bold;

    font-size: 14px;

    font-family: 'GE-Medium';

}

.switch {

    position: relative;

    display: inline-block;

    width: 40px;

    height: 22px;

    margin-bottom: 0;

    margin-left: 12px;

}

.switch input { 

  opacity: 0;

  width: 0;

  height: 0;

}

.slider {

  position: absolute;

  cursor: pointer;

  top: 0;

  left: 0;

  right: 0;

  bottom: 0;

  background-color: #ccc;

  -webkit-transition: .4s;

  transition: .4s;

}

.slider:before {

    position: absolute;

    content: "";

    height: 15px;

    width: 15px;

    left: -4px;

    bottom: 4px;

    background-color: #cb051a;

    -webkit-transition: .4s;

    transition: .4s;

}

input:checked + .slider {

  background-color: #e9e9e9;

}

input:focus + .slider {

  box-shadow: 0 0 1px #2196F3;

}

input:checked + .slider:before {

  -webkit-transform: translateX(26px);

  -ms-transform: translateX(26px);

  transform: translateX(26px);

}

.slider.round {

  border-radius: 34px;

}

.slider.round:before {

  border-radius: 50%;

}

.part-2.form.sidebar:before {

    content: "";

    position: absolute;

    width: 140px;

    height: 90px;

    background: url(../images/new-img.png);

    background-repeat: no-repeat;

    top: -40px;

    left: 3px;

}

.part-2.form.sidebar:after {

    content: "";

    position: absolute;

    width: 140px;

    height: 90px;

    background: url(../images/new-img2.png);

    background-repeat: no-repeat;

    top: -40px;

    left: 3px;

    z-index: -9;

}





.form-main-sec {

    margin-top: 10px;

}

a.form-submit {

    background: #cb051a;

    color: #fff;

    padding: 12px 0;

    font-size: 18px;

    font-weight: 600;

    display: block;

    text-align: center;

    border-radius: 0 0 5px 5px;

    font-family: 'GE-Medium';

}

.form-main-sec .content-detail {

    padding: 30px 15px;

    height: auto;

}

.part-2.form.sidebar h2 {

    text-align: right;

    font-size: 26px;

    font-weight: 700;

    padding-bottom: 10px;

    position: relative;

    margin-bottom: 0;

    font-family: 'GE-Medium';

}

.part-2.form.sidebar h2::after {

    content: "";

    position: absolute;

    width: 40px;

    height: 5px;

    background: #cb051a;

    bottom: 0;

    right: 0;

}





.alan-last-sec-main .content-detail {

    height: auto;

}

.alan-last-sec-main .content-detail h3 {

    font-size: 12px;

    height: 60px;

}

.alan-last-sec-main {

    margin-top: 10px;

}



.more-last-main {

    text-align: center;

    margin-bottom: 50px;

    margin-top: 30px;

}

.more-last-main a.more-btn {

    background-color: #000;

    color: #fff;

    padding: 10px 50px;

    font-size: 20px;

    font-family: 'GE-Medium';

}

.more-last-main a.more-btn:hover {

    text-decoration: none;

}



.test-main a.read-left-img {

    display: none;

}

.test-main {

    background-image: url(../images/test-bg.png);

    margin-top: -143px;

    display: inline-block;

    text-align: right;

    float: right;

    z-index: 1;

    position: relative;

    width: 100px;

    height: 100px;

    background-repeat: no-repeat;

    left: 14px;

}

.test-main div a:last-child {

    color: #fff;

    margin-right: 13px;

}

.test-main div {

    transform: rotate(45deg);

}

.form-main-sec .test-main {

    margin-top: -73%;

}



.read-left-single-col .economy-btn {

    margin-top: -40px;

    display: inline-flex;

}







.whatsapp-section {

    margin-top: 40px;

    margin-bottom: 40px;

}

.whatsapp-inner {

    margin: 0 auto;

    display: flex;

    align-items: center;

    border: 1px solid;

    width: 95%;

}

.whatsapp-inner img {

    margin-top: -25px;

}

.whatsapp-inner h3 {

    position: relative;

    margin-bottom: 15px;

    font-size: 24px;
    font-family: GE-medium;

}

.whatsapp-inner h3:before {

    position: absolute;

    content: "";

    background: #cb051a;

    width: 25%;

    height: 5px;

    top: 40px;

}







@media (min-width: 1024px) and (max-width: 1135px)

{

    .social-icon-sidebar a i {

        padding-left: 20px;

    }

    .enemy-main-sec .col-4 .content-detail {

        height: auto;

    }

    .policy-right-main .content-detail p {

        font-size: 16px;

        line-height: 34px;

        margin-bottom: 30px;

    }

    .policy-right-main .content-detail {

        height: 205px;

    }

    .complex-main-sec .content-detail h3 {

        font-size: 11px;

    }

    .complex-main-sec .content-detail {

        height: 220px;

    }

    .profile-info {

        padding-right: 20px;

    }

    .alan-last-sec-main .content-detail h3 {

        font-size: 10px;

        font-weight: bold;

    }

}





@media (min-width: 768px) and (max-width: 1023px)

{

    .social-icon-sidebar a i {

        font-size: 18px;

        padding-left: 10px;

    }

    .enemy-main-sec .content-detail {

        height: auto;

    }

    .policy-right-main .content-detail h3 {

        font-size: 11px;

        margin-bottom: 0px;

        font-weight: bold;

    }

    .sidebar-main .content-detail h3 {

        font-size: 10px;

        font-weight: bold;

    }

    .policy-right-main .content-detail p {

        font-size: 13px;

        line-height: 24px;

        margin-bottom: 25px;

        font-weight: bold;

    }

    .complex-main-sec .content-detail {

        height: 280px;

    }

    .complex-main-sec .content-detail h3 {

        font-size: 10px;

        font-weight: bold;

    }

    .palestine-main .col-4, .palestine-main .col-8 {

        max-width: 100%;

        flex: 0 0 100%;

        text-align: right;

    }

    .read-left-single-col {

        margin-bottom: 50px;

    }

    .profile-info p {

        font-size: 10px;

    }

    .palestine-main {

        padding-bottom: 0px;

    }

    .read-left-content h3 {

        font-size: 12px;

    }

    .director-main-sec .content-detail h3 {

        font-size: 12px;

    }

    .choose-main-sec .content-detail h3 {

        font-size: 14px;

    }

    .slider:before {

        left: -10px;

    }

    .alan-last-sec-main .content-detail h3 {

        font-size: 9px;

        height: 70px;

        font-weight: bold;

        line-height: 24px;

    }

    .economy-btn {

        margin-top: -25px;

    }

    .economy-btn a.economy-btn-text {

        font-size: 12px;

    }

    .read-left-single-col .economy-btn {

        margin-top: -34px;

    }

}





@media (min-width: 426px) and (max-width: 767px)

{

    .col-8 , .col-4 , .col-3 {

        flex: auto;

        max-width: 100%;

    }

    .policy-right-main .img-detail a > img {

        height: auto;

        width: 100%;

    }

    .content-detail {

        height: auto;

    }

    .alan-last-sec-main {

        margin-top: 30px;

    }

    .profile-img {

        text-align: right;

    }

    .read-more-right-main a.read-left-img img {

        height: auto;

    }

    .test-main {

        margin-top: -50%;

    }

    .read-left-content h3 {

        font-size: 12px;

    }

    .read-left-single-col .economy-btn a.economy-btn-text {

        padding: 8px 10px;

    }

    .read-left-content {

        text-align: right;

        padding: 10px;

    }

}





.last-btn-mobile a.more-btn {

    display: block;

}

.form-mobile-sec .form-inner-main {

    text-align: center;

}

.form-mobile-sec .part-2.form.sidebar {

    padding: 20px 10px 30px;

}

.form-mobile-sec a.form-submit {

    background: #000;

    padding: 10px 30px;

    margin-top: -20px;

    display: inline-block;

    z-index: 1;

    position: relative;

    border-radius: 0;

}

.form-mobile-sec {

    margin-bottom: 50px;

}





.meet-main-sec , .whatsapp-section , .complex-mobile-sec , .last-btn-mobile , .form-mobile-sec {

    display: none;

}





@media (max-width: 425px)

{

    .alan-last-sec-main , .director-main-sec , .col-4.read-more-left-main , .form-main-sec {

        display: none;

    }

    .meet-main-sec , .whatsapp-section , .complex-mobile-sec , .last-btn-mobile , .form-mobile-sec {

        display: block;

    }

}




@media(min-width:426px){
    .form-section{
        display: none !important;
    }
}
@media(max-width: 425px){
.part-2.form.sidebar ,
    .col-4.sidebar-main-col .submit {
    display: none;
}
.form-section{
    display: block !important;
}
.form-section {
    margin: 0 10px;
    margin-bottom: 20px;
}
.row.form-inner-section {
    padding: 40px 15px 0;
    margin-bottom: 40px;
        background: #cb051a;
            align-items: center;
    position: relative;
}
.row.form-inner-section:before {
    position: absolute;
    content: "";
    background-image: url(../images/mail2.png);
    height: 120px;
    background-repeat: no-repeat;
    background-size: contain;
    top: -37px;
    bottom: 0;
    left: -10px;
    width: 60%;
    z-index: -1;
}
.row.form-inner-section:after {
    position: absolute;
    content: "";
    background-image: url(../images/mail1.png);
    width: 100%;
    background-repeat: no-repeat;
    bottom: 0;
    z-index: 1;
    background-size: contain;
        top: -37px;
    left: -7px;
    height: 130px;
}
.form-field input {
    background: #fff;
    padding: 10px;
}
h3.form-heading {
    border-bottom: 1px solid #aaa;
    display: block;
    width: 100%;
    text-align: right;
    padding: 15px 0;
    margin-bottom: 30px;
    position: relative;
    font-family: 'GE-Light';
    z-index: -1;
}
h3.form-heading a {
    color: #cb051a;
}
h3.form-heading:before {
    position: absolute;
    content: "";
    background: #cb051a;
    width: 15%;
    height: 5px;
    top: 93%;
}
.form-field input {
    background: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    width: 100%;
    color: #fff;
    font-family: 'GE-Medium';
}
.switch-btn {
    align-items: center;
    display: flex;
        margin: 20px 0 0;
}
.switch-btn .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: #cb051a;
    transition: .4s;
}
.slider{
    background: #fff;
}
.switch-btn span {
    color: #fff;
    font-family: 'GE-Medium';
}
.form-btn a {
    font-size: 18px;
    padding: 10px 40px;
    font-family: 'GE-Light';
    background: #000;
    color: #fff;
    justify-content: center;
    display: flex;
    width: 40%;
    margin: 0 auto;
    position: relative;
    top: 20px;
}
.form-inner-section input::placeholder {
    color: #cb051a;
}
body.safari .book-btn {
    margin-top: -29px !important;
}
.book-btn {
    margin-top: -29px !important;
}
.form-field input::placeholder {
    font-style: italic;
}



.sikl-top-btn-main .col-12 {
    padding: 0;
}
.economy-main-sec {
    margin-bottom: 0;
}
.meet-main-sec {
    margin-top: 20px;
}
.more-last-main {
    margin-bottom: 30px;
    margin-top: 5px;
}
.meet-main-sec{
    padding: 100px 0 50px;
}
.meet-content a.meet-btn{
    bottom: -40.5% !important;
}
.meet-main-sec{
    background-position: 35% center;
}


    .enemy-main-sec .col-4 , .content-detail p , .col-4.read-more-left-main {

        display: none;

    }

    .enemy-main-sec .col-8 {

        flex: auto;

        max-width: 100%;

    }

    .policy-right-main .img-detail a > img {

        height: auto;

        width: 100%;

    }

    .content-detail {

        height: 120px;

        padding: 10px;

    }

    .enemy-main-sec .content-detail {

        height: auto;

    }

    .policy-right-main .content-detail p {

        font-size: 12px;

        line-height: 26px;

        display: block;

        font-weight: bold;

    }

    .alan-last-sec-main {

        margin-top: 30px;

    }

    .profile-img {

        text-align: right;

    }

    .read-more-right-main a.read-left-img img {

        height: 140px;

    }

    .policy-right-main .content-detail h3 {

        font-size: 10px;

        font-weight: bold;

    }

    .complex-main-sec .col-4 {

        margin-bottom: 10px;

        max-width: 50%;

        padding: 0 5px;

        flex: auto;

    }

    .complex-main-sec {

        padding: 0 5px;

    }

    .read-left-single-col .economy-btn a.economy-btn-text {

        padding: 5px 12px;

        font-size: 12px;

    }

    .read-left-single-col .economy-btn {

        margin-top: -28px;

    }

    .read-left-single-col .col-4 {

        padding-left: 0;

    }

    .content-detail h3 {

        font-size: 9px;

        line-height: 26px;

        font-weight: bold;

    }

    .meet-content h3 {

        font-size: 16px;

    }

    .meet-content h2 {

        font-size: 18px;

    }

    .meet-main-sec {

        position: relative;

    }

    .meet-content a.meet-btn { 

        position: absolute;

        bottom: -81.5%;

        left: 0;

        border-radius: 0 7px 0 0;

    }

    .col-8.read-more-right-main {

        flex: auto;

        max-width: 100%;

    }

    .read-more-main {

        margin-top: 30px;

    }

    .read-left-content h3 {

        font-size: 10px;

        font-family: 'jalal';

        line-height: 26px;

        font-weight: bold;

    }
}
@media(max-width: 320px){
    .row.form-inner-section:after{
        height: 95px !important;
    }
    .meet-content h2 {
    font-size: 15px;
}
.meet-content h3 {
    font-size: 15px;
}
.meet-content a.meet-btn {
    bottom: -42% !important;
}
}
@media(max-width: 375px) and (min-width: 321px){
    .row.form-inner-section:after{
        height: 113px !important;
    }
}

@media(min-width: 1226px) and (max-width:1349px) {
    .col-8.read-more-right-main .economy-btn {
        margin-top: -40px !important;
    }
    .economy-btn{
        margin-top: -30px !important;
    }
}

@media(max-width: 1600px) and (min-width: 1400px) {
    .economy-btn{
        margin-top: -30px !important;
    }
    .read-left-single-col .economy-btn {
    margin-top: -39px !important;
}
}


@media(max-width: 1349px) and (min-width: 1079px){
    .economy-btn{
        margin-top: -30px !important;
    }
}

@media(min-width: 1686px){
    .economy-btn{
        margin-top: -30px !important;
    }
}


@media(max-width: 425px){
        body.safari .tags-btn{
        margin-top: -25px !important;
    }
    body.safari .economy-btn{
        margin-top: -28px !important;
    }
}